<settings>
    <setting id="weatherscript_enable" type="bool">false</setting>
    <setting id="tmdbhelper.forcewidgetcontainer" type="bool">false</setting>
    <setting id="randomizebackground" type="bool">false</setting>
    <setting id="shadow" type="bool">false</setting>
    <setting id="homepagevideowindow" type="bool">true</setting>
    <setting id="hidelogovideo" type="bool">true</setting>
    <setting id="trailerbutton" type="bool">true</setting>
    <setting id="videoosdhideinfo" type="bool">false</setting>
    <setting id="hidefanartvideo" type="bool">true</setting>
    <setting id="hidelogomusic" type="bool">false</setting>
    <setting id="hideshellmusic" type="bool">true</setting>
    <setting id="touchmode" type="bool">true</setting>
    <setting id="tmdbpvr" type="bool">false</setting>
    <setting id="viewpvrhideclock" type="bool">false</setting>
    <setting id="hideclock" type="bool">true</setting>
    <setting id="tmdbhelper.service" type="bool">true</setting>
    <setting id="tmdbhelper.enableblur" type="bool">false</setting>
    <setting id="tmdbhelper.enabledesaturate" type="bool">false</setting>
    <setting id="tmdbhelper.enablecolors" type="bool">false</setting>
    <setting id="tmdbhelper.disableratings" type="bool">false</setting>
    <setting id="tmdbhelper.disableartwork" type="bool">false</setting>
    <setting id="viewhideinfo" type="bool">false</setting>
    <setting id="hidelogowidget" type="bool">false</setting>
    <setting id="skinshortcuts-widget-Addon" type="bool">true</setting>
    <setting id="tmdbhelper.disablepersonstats" type="bool">false</setting>
    <setting id="stopvideoonback" type="bool">false</setting>
    <setting id="musicosdhideinfo" type="bool">false</setting>
    <setting id="hideflagvideo" type="bool">true</setting>
    <setting id="autoplotvideo" type="bool">true</setting>
    <setting id="homepageweatherinfo" type="bool">false</setting>
    <setting id="homepagetimeinfo" type="bool">true</setting>
    <setting id="hideflagwidget" type="bool">true</setting>
    <setting id="view50hideclock" type="bool">false</setting>
    <setting id="slideshowinfo" type="bool">false</setting>
    <setting id="hidefanartwidget" type="bool">true</setting>
    <setting id="autoplotmusic" type="bool">false</setting>
    <setting id="hideshellvideo" type="bool">true</setting>
    <setting id="hidediscvideo" type="bool">true</setting>
    <setting id="hidelogomusik" type="bool">false</setting>
    <setting id="hidediscmusic" type="bool">true</setting>
    <setting id="disableartistslideshow" type="bool">false</setting>
    <setting id="homepagewidgetautoplot" type="bool">true</setting>
    <setting id="separatebackground" type="bool">false</setting>
    <setting id="hidexxx" type="bool">false</setting>
    <setting id="alwaysshowmusicinfo" type="bool">false</setting>
    <setting id="hidefanartmusik" type="bool">false</setting>
    <setting id="homepagewidgetinfo" type="bool">true</setting>
    <setting id="tmdbhelper.uselocalwidgetcontainer" type="bool">false</setting>
    <setting id="tmdbhelper.enablecrop" type="bool">false</setting>
    <setting id="tmdbhelper.disableextendedproperties" type="bool">false</setting>
    <setting id="autoscroll" type="bool">false</setting>
    <setting id="usecustombackground" type="bool">false</setting>
    <setting id="use_startup_playlist" type="bool">false</setting>
    <setting id="homepagevideoinfo" type="bool">false</setting>
    <setting id="homepagewidgettrailer" type="bool">true</setting>
    <setting id="homepagemusicinfo" type="bool">false</setting>
    <setting id="homepagewidgetplaycount" type="bool">true</setting>
    <setting id="homepagewidgethideshell" type="bool">true</setting>
    <setting id="tmdbhelper.disablepvr" type="bool">false</setting>
    <setting id="hideinfovideo" type="bool">true</setting>
    <setting id="hideinfomusic" type="bool">true</setting>
    <setting id="hideflagmusic" type="bool">true</setting>
    <setting id="musicfullscreen" type="bool">false</setting>
    <setting id="hidefanart" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="tmdbvideo" type="bool">false</setting>
    <setting id="skinshortcuts-widget-2" type="string">Addon</setting>
    <setting id="skinshortcuts-widget-3" type="string">Addon</setting>
    <setting id="color.alt" type="string">FFFFEB3B</setting>
    <setting id="color.primary" type="string">FFFFFFFF</setting>
    <setting id="TMDbHelper.Blur.Radius" type="string"></setting>
    <setting id="TMDbHelper.Date.Format" type="string"></setting>
    <setting id="TMDbHelper.MonitorContainer" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="TMDbHelper.Blur.Size" type="string"></setting>
    <setting id="Startup_Playlist_Path" type="string"></setting>
    <setting id="WeatherScript_Label" type="string"></setting>
    <setting id="skinshortcuts-widget-4" type="string">Addon</setting>
    <setting id="skinshortcuts-widget-5" type="string">Addon</setting>
    <setting id="skinshortcuts-widget-6" type="string">Addon</setting>
    <setting id="backgroundswitchdelay" type="string"></setting>
    <setting id="custombackgroundpath" type="string"></setting>
    <setting id="color.500" type="string">FF00BCD4</setting>
    <setting id="color.border" type="string">FFCCCCCC</setting>
    <setting id="lyricscript_path" type="string"></setting>
    <setting id="color.tertiary" type="string">FFF1F1F1</setting>
    <setting id="color.text" type="string">FF666666</setting>
    <setting id="color.disabled" type="string">AABBBBBB</setting>
    <setting id="skinshortcuts-widget-1" type="string">Addon</setting>
    <setting id="color.900" type="string">FF057A7F</setting>
    <setting id="color.400" type="string">FF3FD8EB</setting>
</settings>
