<settings version="2">
    <setting id="GlobalSearchPosition" default="true">true</setting>
    <setting id="SettingsFolder" default="true">true</setting>
    <setting id="replacefanart" default="true">true</setting>
    <setting id="prefLanguage">1</setting>
    <setting id="preferedQuality" default="true">5</setting>
    <setting id="showAdult">true</setting>
    <setting id="hosterSelect" default="true">30129</setting>
    <setting id="maxHoster" default="true">100</setting>
    <setting id="presortHoster">true</setting>
    <setting id="blockedHoster" default="true" />
    <setting id="cacheTime" default="true">600</setting>
    <setting id="requestTimeout" default="true">10</setting>
    <setting id="cacheDeltaDay" default="true">2</setting>
    <setting id="githubUpdateXstream">true</setting>
    <setting id="xstream.branch">nightly</setting>
    <setting id="xstream.branch.release" default="true">nexus</setting>
    <setting id="githubUpdateResolver">true</setting>
    <setting id="resolver.branch">nightly</setting>
    <setting id="update.notification" default="true">full</setting>
    <setting id="popup.update.notification">false</setting>
    <setting id="aniworld.user" default="true" />
    <setting id="aniworld.pass" default="true" />
    <setting id="flimmerstube.user" default="true" />
    <setting id="flimmerstube.pass" default="true" />
    <setting id="serienstream.user">bfcoop@spoofmail.de</setting>
    <setting id="serienstream.pass">dokufilme123456</setting>
    <setting id="plugin_aniworld" default="true">true</setting>
    <setting id="global_search_aniworld" default="true">true</setting>
    <setting id="plugin_aniworld_checkDomain" default="true">true</setting>
    <setting id="plugin_aniworld.domain">aniworld.to</setting>
    <setting id="plugin_cineclix" default="true">true</setting>
    <setting id="global_search_cineclix" default="true">true</setting>
    <setting id="plugin_cineclix_checkDomain" default="true">true</setting>
    <setting id="plugin_cineclix.domain">cineclix.in</setting>
    <setting id="plugin_cinemathek" default="true">true</setting>
    <setting id="global_search_cinemathek" default="true">true</setting>
    <setting id="plugin_cinemathek_checkDomain" default="true">true</setting>
    <setting id="plugin_cinemathek.domain">cinemathek.net</setting>
    <setting id="plugin_dokus4" default="true">true</setting>
    <setting id="global_search_dokus4" default="true">false</setting>
    <setting id="plugin_filmpalast" default="true">true</setting>
    <setting id="global_search_filmpalast" default="true">true</setting>
    <setting id="plugin_filmpalast_checkDomain" default="true">true</setting>
    <setting id="plugin_filmpalast.domain">filmpalast.to</setting>
    <setting id="plugin_flimmerstube" default="true">true</setting>
    <setting id="global_search_flimmerstube">true</setting>
    <setting id="plugin_flimmerstube_checkDomain" default="true">true</setting>
    <setting id="plugin_flimmerstube.domain">flimmerstube.com</setting>
    <setting id="plugin_hdfilme" default="true">true</setting>
    <setting id="global_search_hdfilme" default="true">true</setting>
    <setting id="plugin_hdfilme_checkDomain" default="true">true</setting>
    <setting id="plugin_hdfilme.domain">www.hdfilme.today</setting>
    <setting id="plugin_kinoger" default="true">true</setting>
    <setting id="global_search_kinoger" default="true">true</setting>
    <setting id="plugin_kinoger_checkDomain" default="true">true</setting>
    <setting id="plugin_kinoger.domain" default="true">kinoger.com</setting>
    <setting id="plugin_kinokiste" default="true">true</setting>
    <setting id="global_search_kinokiste" default="true">true</setting>
    <setting id="plugin_kinokiste_checkDomain" default="true">true</setting>
    <setting id="plugin_kinokiste.domain">kinokiste.cloud</setting>
    <setting id="plugin_kino" default="true">true</setting>
    <setting id="global_search_kino" default="true">true</setting>
    <setting id="plugin_kino_checkDomain" default="true">true</setting>
    <setting id="plugin_kino.domain">wwv.kino.ws</setting>
    <setting id="plugin_kinox" default="true">true</setting>
    <setting id="global_search_kinox" default="true">true</setting>
    <setting id="plugin_kinox_checkDomain" default="true">true</setting>
    <setting id="plugin_kinox.domain">ww19.kinox.to</setting>
    <setting id="plugin_kkiste" default="true">true</setting>
    <setting id="global_search_kkiste" default="true">true</setting>
    <setting id="plugin_kkiste_checkDomain" default="true">true</setting>
    <setting id="plugin_kkiste.domain">kkiste.mom</setting>
    <setting id="plugin_megakino" default="true">true</setting>
    <setting id="global_search_megakino" default="true">true</setting>
    <setting id="plugin_megakino_checkDomain" default="true">true</setting>
    <setting id="plugin_megakino.domain">megakino.co</setting>
    <setting id="plugin_moflix-stream" default="true">true</setting>
    <setting id="global_search_moflix-stream" default="true">true</setting>
    <setting id="plugin_moflix-stream_checkDomain" default="true">true</setting>
    <setting id="plugin_moflix-stream.domain">moflix-stream.xyz</setting>
    <setting id="plugin_movie2k" default="true">true</setting>
    <setting id="global_search_movie2k" default="true">true</setting>
    <setting id="plugin_movie2k_checkDomain" default="true">true</setting>
    <setting id="plugin_movie2k.domain">www2.movie2k.ch</setting>
    <setting id="plugin_movie4k" default="true">true</setting>
    <setting id="global_search_movie4k" default="true">true</setting>
    <setting id="plugin_movie4k_checkDomain" default="true">true</setting>
    <setting id="plugin_movie4k.domain">www.movie4k.codes</setting>
    <setting id="plugin_netzkino" default="true">true</setting>
    <setting id="global_search_netzkino" default="true">false</setting>
    <setting id="plugin_serienstream" default="true">true</setting>
    <setting id="global_search_serienstream" default="true">true</setting>
    <setting id="plugin_serienstream_checkDomain" default="true">true</setting>
    <setting id="plugin_serienstream.domain" default="true">s.to</setting>
    <setting id="plugin_streamcloud" default="true">true</setting>
    <setting id="global_search_streamcloud" default="true">true</setting>
    <setting id="plugin_streamcloud_checkDomain" default="true">true</setting>
    <setting id="plugin_streamcloud.domain">streamcloud.movie</setting>
    <setting id="plugin_streamen" default="true">true</setting>
    <setting id="global_search_streamen" default="true">true</setting>
    <setting id="plugin_streamen_checkDomain" default="true">true</setting>
    <setting id="plugin_streamen.domain">wwv.streamen.cx</setting>
    <setting id="plugin_streampalace" default="true">true</setting>
    <setting id="global_search_streampalace" default="true">true</setting>
    <setting id="plugin_streampalace_checkDomain" default="true">true</setting>
    <setting id="plugin_streampalace.domain">streampalace.org</setting>
    <setting id="plugin_xcine" default="true">true</setting>
    <setting id="global_search_xcine" default="true">true</setting>
    <setting id="plugin_xcine_checkDomain" default="true">true</setting>
    <setting id="plugin_xcine.domain">xcine.click</setting>
    <setting id="TMDBMETA" default="true">false</setting>
    <setting id="metaOverwrite" default="true">true</setting>
    <setting id="advanced" default="true">false</setting>
    <setting id="poster_tmdb" default="true">w342</setting>
    <setting id="backdrop_tmdb" default="true">w1280</setting>
    <setting id="tmdb_lang" default="true">de</setting>
    <setting id="Color" default="true">lightblue</setting>
    <setting id="auto-view" default="true">false</setting>
    <setting id="files-view" default="true">55</setting>
    <setting id="movies-view" default="true">503</setting>
    <setting id="tvshows-view" default="true">503</setting>
    <setting id="seasons-view" default="true">504</setting>
    <setting id="episodes-view" default="true">504</setting>
    <setting id="download-folder" default="true" />
    <setting id="backgrounddownload" default="true">false</setting>
    <setting id="jd_enabled" default="true">false</setting>
    <setting id="jd_host" default="true">127.0.0.1</setting>
    <setting id="jd_port" default="true">10025</setting>
    <setting id="jd2_enabled" default="true">false</setting>
    <setting id="jd2_host" default="true">127.0.0.1</setting>
    <setting id="jd2_port" default="true">9666</setting>
    <setting id="myjd_enabled" default="true">false</setting>
    <setting id="myjd_device" default="true">JDownloader@Device</setting>
    <setting id="myjd_user" default="true">example@example.com</setting>
    <setting id="myjd_pass" default="true" />
    <setting id="pyload_enabled" default="true">false</setting>
    <setting id="pyload_host" default="true">127.0.0.1</setting>
    <setting id="pyload_port" default="true">8000</setting>
    <setting id="pyload_user" default="true">user</setting>
    <setting id="pyload_passwd" default="true" />
    <setting id="global_search_einfach" default="true">true</setting>
    <setting id="global_search_filmkiste" default="true">true</setting>
    <setting id="global_search_internetarchive" default="true">false</setting>
    <setting id="lastdelhtml" default="true">1710666406</setting>
    <setting id="plugin_einfach" default="true">true</setting>
    <setting id="plugin_einfach.domain" default="true">einfach.to</setting>
    <setting id="plugin_einfach_checkDomain" default="true">true</setting>
    <setting id="plugin_filmkiste" default="true">true</setting>
    <setting id="plugin_filmkiste.domain" default="true">filmkiste.to</setting>
    <setting id="plugin_filmkiste_checkDomain" default="true">true</setting>
    <setting id="plugin_internetarchive" default="true">true</setting>
</settings>
